.categorias-section {
    padding: 20px 0;
    width: 100%;
}

.categorias-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 100px; /* AUMENTE esse valor para mais espaço */
    padding: 10px 20px 20px 20px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Firefox */
}

.categorias-list::-webkit-scrollbar {
    display: none; /* Chrome */
}

.categoria-item {
    flex: 0 0 auto;
    text-align: center;
    scroll-snap-align: start;
    cursor: pointer;
}

.categoria-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

.categoria-icon {
    width: 120px; /* ajuste conforme o necessário */
    height: 120px;
    object-fit: contain;
}

.categoria-nome {
    font-weight: 600;
    font-size: 15px;
    color: #222;
    text-align: center;
}


.categoria-placeholder {
    font-size: 24px;
}

